@import "~antd/dist/antd.css";

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.unselectable {
  background-color: transparent;
}

.ant-switch {
  background-color: grey;
}

.ant-switch-checked {
  background-color: #1890ff;
}
